*{
    margin: 0;
    padding:0;
}
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 40px;
    background: lightgreen;
    
    
}

span {
    font-style: italic;
    
}

textarea
{
    width: 200px;
    height: 100px;
    margin-top: 5px; 
    
}

.foodGroups
{
     float: left;
     text-align: center;
}

.logoImg
{
    position: relative;
    
}
.examples
{
    float: left;
}

form, input, textarea{
    margin:0;
    padding:0;
}
div.box{
    margin: 0 auto;
    width: 500px;
    position: relative;
    top: 50px;
    border: 1px solid;
}

div.box.button{
    margin: 0 0 10px 0;
    padding: 4px 7px;
    background: lightyellow;
    border: 0px;
    position: relative;
    top: 10px;
    left:382px;
    width: 100px;
    border-bottom: 1px double;
    border-top: 1px double;
    border-right: 1px double;
}
body > h3{
    text-align: center;
}





